# Ignore files from poc
misc/poc/proxy-arg
misc/poc/webhook-mutation/scripts/tls
misc/poc/webhook-mutation/deployment/dependencies/mutation-configed.yaml
misc/poc/gatekeeper/constraints/gk_ns_constraints


.idea
.vscode
*.exe
*.sha256