# Ignore files from poc
misc/proxy-arg
misc/webhook-mutation/scripts/tls
misc/webhook-mutation/deployment/dependencies/mutation-configed.yaml
misc/gatekeeper/constraints/gk_ns_constraints


.idea
.vscode
*.exe
*.sha256